page-orderconfirmation {
  /* ion-header */

  .toolbar-background {
    background: transparent;
  }

  .toolbar-background-md {
    background: transparent;
  }

  /* ion-content */
  .checkMarkBtn {
    border-radius: 50%;
    height: 6.8em;
    width: 6.8em;
    border: 2px dashed #28efad;
  }

  .checkMarkIcon {
    font-size: 120px;
    color: #28efad;
  }

  .content {
    width: 100%;
    height: 100%;
    padding-top: 10vh;
  }

  .title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 5px;
    font-size: 25px;
    margin-top: 30px;
  }

  .subtitleCol {
    padding-top: 0;
    padding-bottom: 0;
  }

  .subtitle {
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 600;
  }

  .orderNoCol {
    padding-top: 0;
  }

  .orderNo {
    color: black;
    font-weight: 800;
  }

  .details {
    padding-left: 6px;
    padding-right: 6px;
    line-height: 2;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 0;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
  }

  .continueBtnCol {
    padding-left: 16px;
    padding-right: 16px;
  }

  .continueBtn {
    width: 100%;
  }

  .trackBtn {
    border: none;
    width: 100%;
    font-weight: bold;
    margin-top: 0;
    background-color: transparent !important;
    color: black !important;
  }

  .trackBtnCol {
    padding-top: 0;
  }

  @media only screen and (max-height: 600px) {
    .content {
      padding-top: 5vh;
    }

    .content-md .checkMarkIcon {
        font-size: 60px;
    }

    .title {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .subtitle {
        font-size: 14px;
    }

    .details {
        font-size: 12px;
        margin-bottom: 15px;
    }

    .checkMarkBtn {
        height: 6em;
        width: 6em;
    }
  }

  
  @media only screen and (min-height: 600px) and (max-height: 700px) {
    .content {
      padding-top: 7vh;
    }

    .content-md .checkMarkIcon {
        font-size: 70px;
    }
  }

  @media only screen and (min-height: 700px) and (max-height: 800px) {
    .content-md .checkMarkIcon {
        font-size: 80px;
    }

    .continueBtn {
        height: 45px;
    }

    .trackBtn {
        height: 45px;
    }
  }

  @media only screen and (min-height: 800px) {
    .content-md .checkMarkIcon {
        font-size: 85px;
    }

    .continueBtn {
        height: 45px;
    }

    .trackBtn {
        height: 45px;
    }
  }
}
