accordion {
  ion-card {
    margin-right: 5px !important;
    margin-left: 5px !important;
    width: calc(100% - 10px) !important;
  }

  .card-header {
    padding: 0;
    box-shadow: 0px -2px 9px 1px rgba(0, 0, 0, 0.2);
    padding-right: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  }

  .card-content {
    padding: 0px 16px;
    max-height: 0px;
  }

  .secondRow {
    color: rgba(0, 0, 0, 0.4);
  }

  .items {
    letter-spacing: 0.5px;
  }

  .firstRow {
    font-weight: bold;
    font-size: 1.6rem;
  }

  .controller {
    height: 100%;
    color: black;
    font-weight: 800 !important;
  }

  .statusCol {
    padding-bottom: 0;
  }

  ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      padding-bottom: 0.3em;
      height: 1em;
    }

    &[class*="custom-box"] {
      mask-image: url(../assets/icon/box.svg);
    }
  }

  .deliveryReadyContainer {
    padding-top: 0;
  }

  .deliveryReadyCol {
    padding-top: 0;
  }

  .toggleInformationContainer {
    padding-bottom: 0;
  }
}
